@{
    ViewBag.Title = "Ejercicio2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ejercicio 2</h2>
<form action="" method="post">
    <input type="text" name="n" value="" />
    <input type="submit" name="Generar" value="Generar" />
</form>
<h3>@ViewBag.resultado</h3>

