@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ejercicio</h2>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Ejercicio 1", "Ejercicio1", "Ejercicios")</li>
    <li>@Html.ActionLink("Ejercicio 2", "Ejercicio2", "Ejercicios")</li>
    <li>@Html.ActionLink("Ejercicio 3", "Ejercicio3", "Ejercicios")</li>
    <li>@Html.ActionLink("Ejercicio 4", "Ejercicio4", "Ejercicios")</li>
</ul>

