@model IEnumerable<video.Data.Peliculas>
@{
    ViewBag.Title = "Home Page";
}

<img src="~/recursos/img/cine.jpg" alt="Alternate Text" width="100%" height="300px" />

<h1>Videos en estreno</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img src="@Url.Action("getImage", "Peliculas",new{id=item.Id})" />
            <h2>@Html.DisplayFor(modelItem => item.nombre)</h2>
            <p>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </p>
            <p><a class="btn btn-default" href="#">Ver mas... &raquo;</a></p>
        </div>
    }
</div>